#title{
    text-align: center;
    text-decoration: underline;
    word-spacing: 15px;
}
#experience{
    line-height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#assignment{
    text-align: center;
    text-decoration: underline;
}
#illustration{
    line-height: 30px;
}